<div class="row justify-content-center">
    <div class="col-5">
        <div *ngIf="candidate">
            <h2><span>Candidate</span> {{candidate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{candidate.name}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{candidate.email}}</span>
                </dd>
                <dt><span>Phone No</span></dt>
                <dd>
                    <span>{{candidate.phoneNo}}</span>
                </dd>
                <dt><span>Current Company</span></dt>
                <dd>
                    <span>{{candidate.currentCompany}}</span>
                </dd>
                <dt><span>Experience</span></dt>
                <dd>
                    <span>{{candidate.experience}}</span>
                </dd>
                <dt><span>Position</span></dt>
                <dd>
                    <span>{{candidate.position}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidate', candidate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-7">
            <div class="row">
   
                    <div class="col-4" *ngFor="let interview of candidate.interviews">
                        <div class="card">
                            <div class="card-header bg-info text-light">{{interview.level}}</div>
                            <div class="card-body bg-secondary text-light">
                                status: {{interview.status}}<br>
                                DOI : {{interview.interviewDate}}
                            </div> 
                          </div>
                    </div>
    </div>
</div>
</div>
