.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    padding: 5px;
}

.btnStyle {
    margin-bottom: 50px !important;
}

#jhi-candidate-heading {
    border: 1px solid beige;
    background: steelblue;
    color: white;
    font-variant-caps: all-small-caps;
    padding: 1px;
    font-family: sans-serif;
    text-align: center;
}

.card-body {
    background: lightsteelblue;
}

.header5 {
    color: teal;
    text-align: center;
}

.card {
    border: 1px solid #f2f2f2;
}

.card-header {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
