<div class="row justify-content-center">
    <div class="col-4">
        <div *ngIf="candidate">
            <h2 class="h2-span-candidate-id">
                <span>Candidate</span> {{candidate.id}}</h2>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{candidate.name}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{candidate.email}}</span>
                </dd>
                <dt><span>Phone No</span></dt>
                <dd>
                    <span>{{candidate.phoneNo}}</span>
                </dd>
                <dt><span>Current Company</span></dt>
                <dd>
                    <span>{{candidate.currentCompany}}</span>
                </dd>
                <dt><span>Experience</span></dt>
                <dd>
                    <span>{{candidate.experience}}</span>
                </dd>
                <dt><span>Position</span></dt>
                <dd>
                    <span>{{candidate.position}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidate', candidate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
            <button type="button"
                    [routerLink]="['/interview','new']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> New Interview</span>
            </button>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-4" *ngFor="let interview of candidate.interviews">
                <div class="card card-body-interviewer" (click)="openLg(content,interview)">
                    <div class="card-header bg-info text-light">{{interview.level}}</div>
                    <div class="card-body bg-secondary text-light">
                        status: {{interview.status}}<br>
                        DOI : {{interview.interviewDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Interview Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl class="row-md jh-entity-details">
            <dt *ngIf="interview.level"><span>Level</span></dt>
            <dd>
                <span>{{interview.level}}</span>
            </dd>
            <dt *ngIf="interview.interviewDate"><span>Interview Date</span></dt>
            <dd>
                <span>{{interview.interviewDate}}</span>
            </dd>
            <dt *ngIf="interview.interviewerName"><span>Interviewer Name</span></dt>
            <dd>
                <span>{{interview.interviewerName}}</span>
            </dd>
            <dt *ngIf="interview.interviewerEmail"><span>Interviewer Email</span></dt>
            <dd>
                <span>{{interview.interviewerEmail}}</span>
            </dd>
            <dt *ngIf="interview.interviewerPhone"><span>Interviewer Phone</span></dt>
            <dd>
                <span>{{interview.interviewerPhone}}</span>
            </dd>
            <dt *ngIf="interview.status"><span>Status</span></dt>
            <dd>
                <span>{{interview.status}}</span>
            </dd>
            <dt *ngIf="interview.comments"><span>Comments</span></dt>
            <dd>
                <span>{{interview.comments}}</span>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" [routerLink]="['/interview', interview.id, 'edit' ]"
                (click)="modal.close('Close click')">Edit
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

