<div>
    <h2 id="page-heading">
        <span>Candidates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate"
                [routerLink]="['/candidate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down">
            Create new Candidate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-3">
            <form name="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="currentSearchName" id="currentSearchName"
                           name="currentSearchName" placeholder="Search Name">
                    <button class="input-group-append btn btn-info" (click)="searchName(currentSearchName)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clearNameSearch()"
                            *ngIf="currentSearchName">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <form name="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="currentSearchEmail" id="currentSearchEmail"
                           name="currentSearchEmail" placeholder="Search Email">
                    <button class="input-group-append btn btn-info" (click)="searchEmail(currentSearchEmail)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clearEmailSearch()"
                            *ngIf="currentSearchEmail">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <form name="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="currentSearchExperience"
                           id="currentSearchExperience" name="currentSearchExperience" placeholder="Search Experience">
                    <button class="input-group-append btn btn-info" (click)="searchExperience(currentSearchExperience)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clearExperienceSearch()"
                            *ngIf="currentSearchExperience">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3">
            <form name="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="currentSearchPhoneNo" id="currentSearchId"
                           name="currentSearchId" placeholder="Search Phone No">
                    <button class="input-group-append btn btn-info" (click)="searchPhoneNo(currentSearchPhoneNo)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clearPhonNoSearch()" *ngIf="currentSearchPhoneNo">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="candidates">
        <table class="table table-cell">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Name</span></th>
                <th><span>Email</span></th>
                <th><span>Phone No</span></th>
                <th><span>Current Company</span></th>
                <th><span>Experience</span></th>
                <th><span>Position</span></th>
                <th><span> Action</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                <td><a [routerLink]="['/candidate', candidate.id, 'view' ]">{{candidate.id}}</a></td>
                <td>{{candidate.name}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.phoneNo}}</td>
                <td>{{candidate.currentCompany}}</td>
                <td>{{candidate.experience}}</td>
                <td>{{candidate.position}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/candidate', candidate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate', candidate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
