<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-interview-heading">Create or edit a Interview</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!interview.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="interview.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                        [(ngModel)]="interview.level" required/>
                    <div [hidden]="!(editForm.controls.level?.dirty && editForm.controls.level?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.level?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_interviewDate">Interview Date</label>
                    <div class="input-group">
                        <input id="field_interviewDate" type="text" class="form-control" name="interviewDate" ngbDatepicker  #interviewDateDp="ngbDatepicker" [(ngModel)]="interview.interviewDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="interviewDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.interviewDate?.dirty && editForm.controls.interviewDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.interviewDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_interviewerName">Interviewer Name</label>
                    <input type="text" class="form-control" name="interviewerName" id="field_interviewerName"
                        [(ngModel)]="interview.interviewerName" required/>
                    <div [hidden]="!(editForm.controls.interviewerName?.dirty && editForm.controls.interviewerName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.interviewerName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_interviewerEmail">Interviewer Email</label>
                    <input type="text" class="form-control" name="interviewerEmail" id="field_interviewerEmail"
                        [(ngModel)]="interview.interviewerEmail" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_interviewerPhone">Interviewer Phone</label>
                    <input type="text" class="form-control" name="interviewerPhone" id="field_interviewerPhone"
                        [(ngModel)]="interview.interviewerPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="interview.status" required>
                        <option value="volvo">On Hold</option>
                        <option value="saab">Selected</option>
                        <option value="opel">Not Selected</option>
                      </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                        [(ngModel)]="interview.comments" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_candidate">Candidate</label>
                    <select class="form-control" id="field_candidate" name="candidate" [(ngModel)]="interview.candidate" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id === interview.candidate?.id ? interview.candidate : candidateOption" *ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
